<form class="modal-form" [formGroup]="form" (submit)="OnSubmit()" id="modify-form">
    <fieldset>
        <label for="name">Nombre:</label>
        <input type="text" name="name" formControlName="name">
        @if (form.controls['name'].invalid && form.controls['name'].touched) {
        <p>El nombre debe tener entre 3 y 30 caracteres, solo letras.</p>
        }
    </fieldset>

    <fieldset>
        <label for="lastName">Apellido:</label>
        <input type="text" name="lastName" formControlName="lastName">
        @if (form.controls['lastName'].invalid && form.controls['lastName'].touched) {
        <p>El apellido debe tener entre 2 y 30 caracteres, solo letras.</p>
        }
    </fieldset>

    <fieldset>
        <label for="email">Email:</label>
        <input type="email" name="email" formControlName="email">
        @if (form.controls['email'].invalid && form.controls['email'].touched) {
        <p>El email debe tener entre 3 y 100 caracteres.</p>
        }
    </fieldset>

    <fieldset>
        <label for="dni">DNI:</label>
        <input type="number" name="dni" formControlName="dni">
        @if (form.controls['dni'].invalid && form.controls['dni'].touched) {
        <p>El dni debe tener entre 7 y 9 números.</p>
        }
    </fieldset>

    <div class="form-buttons">
        <button type="button" (click)="cleanForm()">Limpiar</button>
        <button type="submit" [disabled]="form.invalid" >Agregar</button>
    </div>
</form>
