<h1 style="text-align: center;">Ingenierías</h1>
<app-programs-form endpoint="engineerings" (added)="getEngineerings()"></app-programs-form>

<button (click)="toggleDisabledView()">
    {{ showDisabled ? 'Deshabilitadas' : 'Deshabilitadas' }}
</button>

<ul>
    @for (engineering of engineerings; track $index) {
        @if (engineering.active) {
            <li>
                {{engineering.name}} - {{engineering.monthlyFee}} - {{engineering.annualFee}} - {{engineering.durationMonths}} meses
                <button (click)="deleteEngineering(+engineering.id)">Eliminar</button>
                <button (click)="updateCareer(engineering)">Actualizar</button>
            </li>
        }
        @if (!engineering.active && showDisabled) {
            <li style="color: gray;">
                {{engineering.name}} - {{engineering.durationMonths}} meses (INACTIVA)
                <button (click)="viewDisabled(engineering)">Activar</button>
            </li>
        }
    }@empty {
        <li>
            <p style="color: red;"> Aun no hay ninguna ingeniería cargada.</p>
        </li>
    }
</ul>