<form [formGroup]="form" (submit)="OnSubmit()" id="add-form">
    <h3>Editar</h3>
    <fieldset>
        <label for="score">Nombre:</label>
        <input type="number" id="score" name="score" formControlName="score">
        @if (form.controls['score'].invalid && form.controls['score'].touched) {
        <p>El nombre debe tener entre 3 y 30 caracteres, solo letras.</p>
        }
    </fieldset>

    <div id="buttons">
        <button type="button" (click)="cleanForm()">Limpiar</button>
        <button type="submit" [disabled]="form.invalid">Editar</button>
    </div>
</form>

<div>
    @for (subjects of subjectsService.listSubject; track $index) {
        <section>
            <p> {{ subjects.name }} </p>
            <button (click)="addSubjectsToExam(subjects.id)" >Añadir</button>
        </section>
    }
</div>
