<section class="crud-management d-flex justify-content-center">


    <div class="crud-management-container">
        <h1 style="text-align: center;">{{programName}}</h1>

        <div id="subjects">
            <button class="subjects-state-btn" data-bs-toggle="modal" data-bs-target="#modal-subjects">Estado de
                materias</button>
        </div>
        <div id="subjects">
            <button class="subjects-state-btn" data-bs-toggle="modal" data-bs-target="#modal-subjects-plan">Materias del
                plan</button>
        </div>

        <table class="crud-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">Comisión</th>
                    <th scope="col">Materias</th>
                </tr>
            </thead>
            <tbody class="crud-table-body">
                <!-- USERS -->
                @for (com of commissionList; track $index) {
                <tr class="crud-table-item">
                    <td>{{com.number}}</td>
                    <td>
                        @for (s of com.subjects; track $index; let last = $last) {
                        {{ s.name }}{{ !last ? ', ' : '' }}
                        }
                    </td>

                </tr>
                }@empty {
                <tr>
                    <td colspan="6" class="text-center">
                        <p style="color: red;"> Aun no hay ninguna comisión cargada.</p>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>

        <h1 style="text-align: center;">Examenes</h1>
        <!-- TABLA -->
        <table class="crud-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">Nota</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Materia</th>
                    <th scope="col">Tipo de examen</th>
                </tr>
            </thead>
            <tbody class="crud-table-body">
                <!-- USERS -->
                @for (exams of listExams; track $index) {
                <tr class="crud-table-item">
                    <td>{{exams.score}}</td>
                    <td>{{exams.student.name}}</td>
                    <td>{{exams.subject.name}}</td>

                    @if(exams.examType === "EXAM"){
                    <td>Parcial</td>
                    }
                    @else if (exams.examType === "FINAL_EXAM") {
                    <td>Final</td>
                    }
                    @else if (exams.examType === "MAKEUP_EXAM") {
                    <td>Recuperatorio</td>
                    }
                </tr>
                }@empty {
                <tr>
                    <td colspan="6" class="text-center">
                        <p style="color: red;"> Aun no hay ninguna comisión cargado.</p>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>
    </div>
</section>

<!-- Modal estado de materias -->
<div class="modal fade crud-modal" id="modal-subjects" tabindex="-1" aria-labelledby="modal-subjects-label"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered crud-modal__dialog">
        <div class="modal-content crud-modal__content">
            <div class="modal-header justify-content-center">
                <h1 class="modal-title fs-5 titles">Estado de materias</h1>
                <button data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body crud-modal__body">
                <div class="detail-container">
                    @for (subjects of listSubjects; track $index) {
                    <div class="detail-item">
                        <strong>Materia:</strong>
                        <span>{{subjects.subjects.name}}</span>
                        <strong>Estado:</strong>
                        @if (subjects.stateStudent == 'FAILED') {
                        <span>Recursa</span>
                        }@else if (subjects.stateStudent == 'INPROGRESS') {
                        <span>Cursando</span>
                        }
                        @else if (subjects.stateStudent == 'COMPLETED') {
                        <span>Cursada</span>
                        }@else if (subjects.stateStudent == 'APPROVED') {
                        <span>Aprobada</span>
                        }
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal materias del plan -->
<div class="modal fade crud-modal" id="modal-subjects-plan" tabindex="-1" aria-labelledby="modal-subjects-plan-label"
    style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered crud-modal__dialog">
        <div class="modal-content crud-modal__content">
            <div class="modal-header justify-content-center">
                <h1 class="modal-title fs-5 titles">Estado de materias</h1>
                <button data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body crud-modal__body">
                <div class="detail-container">
                    @for (subjects of listSubjects; track $index) {
                    <div class="detail-item">
                        <strong>Materia:</strong>
                        <span>{{subjects.subjects.name}}</span>
                        <strong>Correlativas:</strong>
                        <span>{{subjects.subjects.prerequisites}}</span>
                    </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>