.crud-search-bar{
    color: white;
    padding-left: 1em;
    width: clamp(30%, 50%, 60%);
    height: 2.5em;
    margin-top: 1em;
    border-radius: 10px;
    background-color: var(--color-5);
    caret-color: var(--color-1);
    border: none;
    transition: .2s;
}
.crud-search-bar:focus{
    outline: 2px solid var(--color-2);
}
.crud-search-bar::placeholder{
    opacity: .6;
    color: var(--color-3);
}


/* Mobile: ocultar Legajo y apilar acciones */
@media (max-width: 576px){
    .crud-search-bar{
        width: 100% !important;
        max-width: 100% !important;
        min-width: 0 !important;
    }
}
