<h1 style="text-align: center;">Exámenes</h1>

<section class="crud-management d-flex justify-content-center">
    <div class="crud-management-container">
        <div class="w-100 d-flex flex-column align-items-center mb-3">
            <button class="add-crud-btn" data-bs-toggle="modal" data-bs-target="#modal-create-exam">
                Agregar
            </button>
        </div>
        <!-- TABLA -->
        <table class="crud-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">Alumno</th>
                    <th scope="col">Materia</th>
                    <th scope="col" class="responsive-hide">Tipo de examen</th>
                    <th scope="col" class="responsive-hide">Nota</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="crud-table-body">
                <!-- USERS -->
                @for (exam of listExams; track $index) {
                <tr class="crud-table-item">
                    <td>{{exam.student.name}}</td>
                    <td>{{exam.subject.name}}</td>

                    @if(exam.examType === "EXAM"){
                    <td class="responsive-hide">Parcial</td>
                    }
                    @else if (exam.examType === "FINAL_EXAM") {
                    <td class="responsive-hide">Final</td>
                    }
                    @else if (exam.examType === "MAKEUP_EXAM") {
                    <td class="responsive-hide">Recuperatorio</td>
                    }

                    <td class="responsive-hide">{{exam.score}}</td>
                    <td class="crud-table-actions">
                        <button class="detail-crud-btn-2" (click)="selectedExam = exam" data-bs-toggle="modal"
                            data-bs-target="#modal-detail">Detalles</button>
                        <button class="delete-crud-btn" (click)="deleteExam(exam.id)">Eliminar</button>

                        <button class="modify-crud-btn" (click)="modifyExam(exam)" data-bs-toggle="modal"
                            data-bs-target="#modal-editar-exam">Editar</button>

                    </td>
                </tr>
                }@empty {
                <tr>
                    <td colspan="7" class="text-center">
                        <p style="color: red;"> Aun no hay ninguna comisión cargado.</p>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <!-- Paginación -->
                <tr>
                    <td class="pagination-container" colspan="7">
                        <button (click)="getAllExam(currentPage - 1)" [disabled]="currentPage === 0">
                            Anterior
                        </button>

                        <button (click)="getAllExam(currentPage + 1)"
                            [disabled]="currentPage === totalPages - 1 || currentPage === totalPages">
                            Siguiente
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- Modal ver detalle -->
        <div class="modal fade" id="modal-detail" tabindex="-1" aria-labelledby="modal-detail-label"
            style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h1 class="modal-title fs-5 titles">Detalle del exámen</h1>
                        <button data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        @if (selectedExam) {
                        <div class="detail-container">
                            <div class="detail-item">
                                <strong>Alumno:</strong>
                                <span>{{selectedExam.student.legajo}} | {{selectedExam.student.name}}
                                    {{selectedExam.student.lastName}}</span>
                            </div>
                            <div class="detail-item">
                                <strong>Materia:</strong>
                                <span>{{selectedExam.subject.program}} | {{selectedExam.subject.name}}</span>
                            </div>
                            <div class="detail-item">
                                <strong>Nota:</strong>
                                <span>{{selectedExam.score}}</span>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de crear examen -->
        <div class="modal fade crud-modal" id="modal-create-exam" tabindex="-1" aria-labelledby="modal-detail-label"
            style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered crud-modal__dialog">
                <div class="modal-content crud-modal__content">
                    <div class="modal-header crud-modal__header">
                        <h1 class="modal-title fs-5 titles crud-modal__title">Crear examen</h1>
                        <button type="button" class="btn-close crud-modal__close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body crud-modal__body">
                        <form class="modal-form" [formGroup]="form" (submit)="postExam()" id="add-form">
                            <fieldset>
                                <label for="score">Nota:</label>
                                <input type="number" id="score" name="score" formControlName="score">
                                @if (form.controls['score'].invalid && form.controls['score'].touched) {
                                <p>El Nota debe ser un numero entre 1 y 100</p>
                                }
                            </fieldset>

                            <fieldset>
                                <label for="">Legajo del alumno:</label>
                                <input type="text" id="legajo" name="legajo" formControlName="legajo">
                            </fieldset>

                            <fieldset>
                                <label for="">Carrera</label>
                                <select name="" id="" formControlName="careerName">
                                    @for (career of listCareer; track $index) {
                                    <option [value]="career.name">{{ career.name }}</option>
                                    }
                                </select>
                            </fieldset>

                            <fieldset>
                                <label for="">Materia</label>
                                <select name="" id="" formControlName="subjects">
                                    @for (subjects of listSubjects; track $index) {
                                    <option [value]="subjects.id"> {{ subjects.name }} </option>
                                    }
                                </select>
                            </fieldset>

                            <fieldset>
                                <label for="">Tipo de examen</label>
                                <select name="examType" id="examType" formControlName="examType">

                                    <option value="EXAM">Parcial</option>
                                    <option value="FINAL_EXAM">Final</option>
                                    <option value="MAKEUP_EXAM">Recuperatorio</option>

                                </select>
                            </fieldset>

                            <div id="buttons">
                                <button type="button" (click)="cleanForm()">Limpiar</button>
                                <button type="submit" [disabled]="form.invalid">Crear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de editar examen -->
        <div class="modal fade crud-modal" id="modal-editar-exam" tabindex="-1"
            aria-labelledby="modal-detail-label" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered crud-modal__dialog">
                <div class="modal-content crud-modal__content">
                    <div class="modal-header crud-modal__header">
                        <h1 class="modal-title fs-5 titles crud-modal__title">Editar examen</h1>
                        <button type="button" class="btn-close crud-modal__close" data-bs-dismiss="modal"
                            aria-label="Close"></button>
                    </div>
                    <div class="modal-body crud-modal__body">
                        <form class="modal-form" [formGroup]="form" (submit)="putExam()" id="add-form">
                            <fieldset>
                                <label for="score">Nota:</label>
                                <input type="number" id="score" name="score" formControlName="score">
                                @if (form.controls['score'].invalid && form.controls['score'].touched) {
                                <p>El Nota debe ser un numero entre 1 y 100</p>
                                }
                            </fieldset>

                            <fieldset>
                                <label for="">Legajo del alumno:</label>
                                <input type="text" id="legajo" name="legajo" formControlName="legajo">
                            </fieldset>

                            <fieldset>
                                <label for="">Carrera</label>
                                <select name="" id="" formControlName="careerName">
                                    @for (career of listCareer; track $index) {
                                    <option [value]="career.name">{{ career.name }}</option>
                                    }
                                </select>
                            </fieldset>

                            <fieldset>
                                <label for="">Materia</label>
                                <select name="" id="" formControlName="subjects">
                                    @for (subjects of listSubjects; track $index) {
                                    <option [value]="subjects.id"> {{ subjects.name }} </option>
                                    }
                                </select>
                            </fieldset>

                            <fieldset>
                                <label for="">Tipo de examen</label>
                                <select name="examType" id="examType" formControlName="examType">

                                    <option value="EXAM">Parcial</option>
                                    <option value="FINAL_EXAM">Final</option>
                                    <option value="MAKEUP_EXAM">Recuperatorio</option>

                                </select>
                            </fieldset>

                            <div id="buttons">
                                <button type="button" (click)="cleanForm()">Limpiar</button>
                                <button type="submit" [disabled]="form.invalid">Crear</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>