<h1 style="text-align: center;">Exámenes</h1>

<section class="crud-management d-flex justify-content-center">
    <div class="crud-management-container">
        <div class="w-100 d-flex flex-column align-items-center mb-3">
            <button class="add-crud-btn" data-bs-toggle="modal" data-bs-target="#modal"
                (click)="addExam()">Agregar</button>
        </div>
        <!-- TABLA -->
        <table class="crud-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">Nombre</th>
                    <th scope="col">Materia</th>
                    <th scope="col" class="responsive-hide">Nota</th>
                    <th scope="col" class="responsive-hide">Tipo de examen</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="crud-table-body">
                <!-- USERS -->
                @for (exams of listExams; track $index) {
                <tr class="crud-table-item">
                    <td>{{exams.student.name}}</td>
                    <td>{{exams.subject.name}}</td>
                    <td class="responsive-hide">{{exams.score}}</td>
                    @if(exams.examType === "EXAM"){
                    <td class="responsive-hide">Parcial</td>
                    }
                    @else if (exams.examType === "FINAL_EXAM") {
                    <td class="responsive-hide">Final</td>
                    }
                    @else if (exams.examType === "MAKEUP_EXAM") {
                    <td class="responsive-hide">Recuperatorio</td>
                    }

                    <td class="crud-table-actions">
                        <button class="detail-crud-btn" (click)="selectedExam = exams" data-bs-toggle="modal"
                            data-bs-target="#modal-detail">Detalles</button>
                        <button class="delete-crud-btn" (click)="deleteExam(exams.id)">Eliminar</button>

                        <button class="modify-crud-btn" (click)="modifyExam(exams)" data-bs-toggle="modal"
                            data-bs-target="#modal">Editar</button>

                    </td>
                </tr>
                }@empty {
                <tr>
                    <td colspan="7" class="text-center">
                        <p style="color: red;"> Aun no hay ninguna comisión cargado.</p>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <!-- Paginación -->
                <tr>
                    <td class="pagination-container" colspan="7">
                        <button (click)="getAllExam(currentPage - 1)" [disabled]="currentPage === 0">
                            Anterior
                        </button>

                        <button (click)="getAllExam(currentPage + 1)"
                            [disabled]="currentPage === totalPages - 1 || currentPage === totalPages">
                            Siguiente
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- Modal ver detalle -->
        <div class="modal fade" id="modal-detail" tabindex="-1" aria-labelledby="modal-detail-label"
            style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h1 class="modal-title fs-5 titles">Detalle del exámen</h1>
                        <button data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        @if (selectedExam) {
                        <div class="detail-container">
                            <div class="detail-item">
                                <strong>ID:</strong>
                                <span>{{selectedExam.id}}</span>
                            </div>
                            <div class="detail-item">
                                <strong>Alumno:</strong>
                                <span>{{selectedExam.student.legajo}} | {{selectedExam.student.name}}
                                    {{selectedExam.student.lastName}}</span>
                            </div>
                            <div class="detail-item">
                                <strong>Materia:</strong>
                                <span>{{selectedExam.subject.program}} | {{selectedExam.subject.name}}</span>
                            </div>
                            <div class="detail-item">
                                <strong>Nota:</strong>
                                <span>{{selectedExam.score}}</span>
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>