<h2>Bienvenida/o {{studentName}} </h2>
<ul id="card-container">
    @for (program of listOfProgram; track $index) {
    <li>
        <a [routerLink]="['/commissionForProgramName', program.name]" class="card">
            <img src="/Media/office.jpg" alt="">
            <div class="card-content">
                <h5> {{ program.name }} </h5>
            </div>
        </a>
    </li>
    }
</ul>

<!-- <h2> Inscripciones </h2>

<ul id="card-container">
    @for (program of listOfProgram; track $index) {
    <li>
        <a [routerLink]="['/student-register-commission/', program.name]" class="card">
            <img src="/Media/office.jpg" alt="">
            <div class="card-content">
                <h5> Inscripcion a comisiones </h5>
            </div>
        </a>
    </li>
    }
</ul> -->