#select-filter{
    margin-top: 1em;
    height: 2em;
}
/* FORMULARIOS */
p{
    color: rgb(255, 76, 76);
}
form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    background-color: var(--color-5);
    padding: 2em;
    border-radius: 10px;
    color: var(--color-1);
}
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
}
fieldset:last-child{
    column-span: all;
}
input{
    width: 90%;
}

button {
    border: none;
    border-radius: 5px;
    margin: 0 1em;
    padding: .3em 1em;
}

#buttons{
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
}


/* MODAL */
