@if (id) {
<h1 style="text-align: center;">Editar Materias</h1>
<app-subject-form-edit></app-subject-form-edit>
}
@else {
<h1 style="text-align: center;">Materias</h1>
<app-subject-form (added)="getAllSubject()"></app-subject-form>

<ul>
    @for (subject of subjectService.listSubject; track $index) {
    <li>
        {{subject.name}} {{subject.description}} {{ subject.subjectActive }} {{ subject.academicStatus }}
        @if(subject.prerequisites?.length !== 0){
            <br>
            @for (subjectPrerequisite of subject.prerequisites; track $index) {
                {{ subjectPrerequisite.name }} -
                {{ subjectPrerequisite.description }}
                <br>
            } 
        }
        <button (click)="redirecTo(subject.id)" >Editar</button>
        <button (click)="deleteSubject(subject.id)">Eliminar</button>
    </li>
    }@empty {
    <li>
        <p style="color: red;"> Aun no hay ninguna materia cargada.</p>
    </li>
    }
</ul>
}