
li{
    list-style: none;
}
a{
    text-decoration: none;
}

h2{
    padding-top: 1em;
    font-size: 2.5em;
    text-align: center;
}

img{
    object-fit: cover;
    height: 12em;
    width: 20em;
}
#card-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
    width: 90%;
    margin: auto;
}
.card{
    overflow: hidden;
    border-radius: 10px;
    max-width: 300px;

}
.card-content{
    padding: 1em .5em;
    text-align: center;
    min-height: 3em;
    box-shadow: 0 0 10px #000;
}