<form [formGroup]="form" (submit)="OnSubmit()">
    <fieldset>
        <label for="name">Nombre:</label>
        <input type="text" id="name" name="name" formControlName="name">
        @if (form.controls['name'].invalid && form.controls['name'].touched) {
        <p>El nombre debe tener entre 3 y 30 caracteres, solo letras.</p>
        }
    </fieldset>

    <fieldset>
        <label for="description">Descripcion:</label>
        <input type="text" id="description" name="description" formControlName="description">
        @if (form.controls['description'].invalid && form.controls['description'].touched) {
        <p>La descripcion debe tener entre 2 y 300 caracteres, solo letras.</p>
        }
    </fieldset>

    <fieldset id="email-fieldset">
        <label for="semesters">semesters:</label>
        <input type="number" id="semesters" name="semesters" formControlName="semesters">
        @if (form.controls['semesters'].invalid && form.controls['semesters'].touched) {
        <p>Complete el campo con un numero valido</p>
        }
    </fieldset>

    <fieldset>
        <label for="subjectActive">Activo:</label>
        <input type="checkbox" id="subjectActive" formControlName="subjectActive">
        @if (form.controls['subjectActive'].invalid && form.controls['subjectActive'].touched) {
        <p>El estado activo es obligatorio.</p>
        }
    </fieldset>

    <fieldset>
        <select formControlName="academicStatus" name="academicStatus" id="academicStatus">
            <option value="">Necesidad para correlativas</option>
            <option value="COMPLETED">Aprobar</option>
            <option value="APPROVED">Promocionar</option>
        </select>
    </fieldset>

    <div id="buttons">
        <button type="button" (click)="cleanForm()">Limpiar</button>
        <button type="submit" [disabled]="form.invalid">Agregar</button>
    </div>
</form>

<button class="add-crud-btn" data-bs-toggle="modal" data-bs-target="#modal">Agregar correlativas</button>

<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal-label" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header justify-content-center">
                <h1 class="modal-title fs-5 titles">{{ modalText }}</h1>
                <button data-bs-dismiss="modal" aria-label="Close">
                    <i class="fa-solid fa-x"></i>
                </button>
            </div>
            <div class="modal-body">
                @for (subjects of listOfSubjects; track $index) {

                <div [class.selected]="isSelected(subjects)">
                    <label for=""> {{ subjects.name }}: </label>
                    <div>
                        <button 
                        class="add-crud-btn" 
                        (click)="addSubjects(subjects)"
                        >
                            Añadir a correlativas
                        </button>
                        <button 
                        class="add-crud-btn" 
                        (click)="deleteSubjectsOfPrerequisite(subjects)"
                        >
                            Eliminar de correlativas
                        </button>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
</div>