<h1 style="text-align: center;">Materias</h1>

<section class="crud-management d-flex justify-content-center">
    <div class="crud-management-container">
        <div class="w-100 d-flex flex-column align-items-center mb-3">
            <button class="add-crud-btn" data-bs-toggle="modal" data-bs-target="#modal"
                (click)="addSubject()">Agregar</button>
            <select class="select-filter" [(ngModel)]="filter" (change)="filterSubjects()">
                <option value="">Mostrar todo</option>
                <option value="Activas">Activas</option>
                <option value="Inactivas">Inactivas</option>
                @for(program of programs; track $index){
                <option [value]="program.name">{{ program.name }}</option>
                }
            </select>
        </div>

        <!-- TABLA -->
        <table class="crud-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">Nombre</th>
                    <th scope="col" class="responsive-hide-2">Cuatrimestre</th>
                    <th scope="col" class="responsive-hide">Correlativas</th>
                    <th scope="col">Carrera/Curso</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="crud-table-body">
                <!-- USERS -->
                @for (subject of subjects; track $index) {
                <tr class="crud-table-item">
                    <td>{{subject.name}}</td>
                    <td class="responsive-hide-2">{{subject.semesters}}</td>
                    @if (subject.prerequisites!.length > 0) {
                    <td class="responsive-hide">
                        @for (s of subject.prerequisites; track $index) {
                        {{ s.name }}
                        }
                    </td>
                    }@else{
                    <td class="responsive-hide">Sin correlativas</td>
                    }
                    <td>{{subject.program}}</td>
                    <td class="crud-table-actions">
                        <button class="detail-crud-btn" (click)="selectedSubject = subject" data-bs-toggle="modal"
                            data-bs-target="#modal-detail">Detalles</button>
                        @if (subject.subjectActive) {
                        <button class="delete-crud-btn" (click)="deleteSubject(subject.id)">Eliminar</button>
                        }
                        @if (!subject.subjectActive) {
                        <button class="activate-crud-btn" (click)="viewDisabled(subject)">Activar</button>
                        <button class="delete-crud-btn" (click)="definitiveDeleteSubject(subject.id)">Eliminar</button>
                        }
                        <button class="modify-crud-btn" (click)="modifySubject(subject)" data-bs-toggle="modal"
                            data-bs-target="#modal">Editar</button>
                        <button class="modify-crud-btn" (click)="prerequisite(subject)" data-bs-toggle="modal"
                            data-bs-target="#modal-prerequisite">Añadir correlativa</button>
                    </td>
                </tr>
                }@empty {
                <tr>
                    <td colspan="7" class="text-center">
                        <p style="color: red;"> Aun no hay ninguna materia cargada.</p>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <!-- Paginación -->
                <tr>
                    <td class="pagination-container" colspan="7">
                        <button (click)="getAllSubject(currentPage - 1)" [disabled]="currentPage === 0">
                            Anterior
                        </button>

                        <button (click)="getAllSubject(currentPage + 1)"
                            [disabled]="currentPage === totalPages - 1 || currentPage === totalPages    ">
                            Siguiente
                        </button>
                    </td>
                </tr>
            </tfoot>
        </table>

        <!-- MODAL -->
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal-label" style="display: none;"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h1 class="modal-title fs-5 titles">{{ modalText }}</h1>
                        <button data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="modal-form" [formGroup]="form" (submit)="OnSubmit()">

                            @if (form.invalid && form.touched) {
                            <div class="error-global">
                                <p>Por favor, completá correctamente todos los campos antes de continuar.</p>
                            </div>
                            }

                            <fieldset>
                                <label for="name">Nombre de la materia:</label>
                                <input type="text" id="name" name="name" formControlName="name">
                                @if (form.controls['name'].invalid && form.controls['name'].touched) {
                                <p>El nombre debe tener entre 3 y 30 caracteres, solo letras.</p>
                                }
                            </fieldset>

                            <fieldset>
                                <label for="description">Descripcion:</label>
                                <input type="text" id="description" name="description" formControlName="description">
                                @if (form.controls['description'].invalid && form.controls['description'].touched) {
                                <p>El apellido debe tener entre 2 y 30 caracteres, solo letras.</p>
                                }
                            </fieldset>

                            <!-- <fieldset>
                                <select formControlName="academicStatus" name="academicStatus" id="academicStatus">
                                    <option value="">Necesidad para correlativas</option>
                                    <option value="COMPLETED">Aprobar</option>
                                    <option value="APPROVED">Promocionar</option>
                                </select>
                            </fieldset> -->

                            <fieldset>
                                <label for="semesters">Semestre:</label>
                                <input type="number" id="semesters" name="semesters" formControlName="semesters">
                                @if (form.controls['semesters'].invalid && form.controls['semesters'].touched) {
                                <p>El email debe tener entre 3 y 100 caracteres.</p>
                                }
                            </fieldset>

                            <fieldset>
                                <label for="program">Carrera/Curso:</label>
                                <select class="select-filter" id="program" formControlName="program">
                                    @for(program of programs; track $index){
                                    <option [value]="program.name">{{ program.name }}</option>
                                    }
                                </select>
                                @if (form.controls['program'].invalid && form.controls['program'].touched) {
                                <p>Es obligatorio asignar la materia a una carrera o curso.</p>
                                }
                            </fieldset>

                            <div class="form-buttons">
                                <button type="button" (click)="cleanForm()">Limpiar</button>
                                <button type="submit" [disabled]="form.invalid" data-bs-dismiss="modal"
                                    aria-label="Close">Agregar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL de correlativas -->
        <div class="modal fade" id="modal-prerequisite" tabindex="-1" aria-labelledby="modal-label"
            style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h1 class="modal-title fs-5 titles">Correlativas</h1>
                        <button data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        @for (sub of listPrerequisite; track $index) {
                        <div>
                            {{ sub.name }}
                            <button class="modify-crud-btn" (click)="addPrerequisite(sub.id)"> Añadir </button>
                            <button class="delete-crud-btn" (click)="deletePrerequisite(sub.id)"> Eliminar </button>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal ver detalle -->
        <div class="modal fade" id="modal-detail" tabindex="-1" aria-labelledby="modal-detail-label"
            style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h1 class="modal-title fs-5 titles">Detalle del Usuario</h1>
                        <button data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        @if (selectedSubject) {
                        <div class="detail-container">
                            <div class="detail-item">
                                <strong>ID:</strong>
                                <span>{{selectedSubject.id}}</span>
                            </div>
                            <div class="detail-item">
                                <strong>Materia:</strong>
                                <span>{{selectedSubject.name}}</span>
                            </div>
                            <div class="detail-item">
                                <strong>Carrera/Curso:</strong>
                                <span>{{selectedSubject.program}}</span>
                            </div>
                            <div class="detail-item">
                                <strong>Cuatrimestre:</strong>
                                <span>{{selectedSubject.semesters}}</span>
                            </div>
                            <div class="detail-item">
                                <strong>Correlativas:</strong>
                                @if (selectedSubject.prerequisites?.length == 0) {
                                    <span>Sin correlativas</span>
                                }@else {
                                <span>{{selectedSubject.prerequisites}}</span>
                                }
                            </div>
                        </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>