<section class="crud-management d-flex justify-content-center">
    <div class="crud-management-container">
        <div class="w-100 d-flex flex-column align-items-center mb-3">
            <button class="add-crud-btn" data-bs-toggle="modal" data-bs-target="#modal-add">Agregar</button>
            <select id="select-filter" [(ngModel)]="filter" (change)="filterPrograms()">
                <option value="">Mostrar todo</option>
                <option value="Activos">Activos</option>
                <option value="Inactivos">Inactivos</option>
            </select>
        </div>
        <table class="crud-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Duracion</th>
                    <th scope="col">Mensualidad</th>
                    <th scope="col">Matricula</th>
                    <th scope="col">Activo</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="crud-table-body">
                <!-- PROGRAMS -->
                @for (program of programs; track $index) {
                <tr class="crud-table-item">
                    <td>{{program.id}}</td>
                    <td>{{program.name}}</td>
                    <td>{{program.description}}</td>
                    <td>{{program.durationMonths}}</td>
                    <td>{{program.monthlyFee}}</td>
                    <td>{{program.annualFee}}</td>
                    <td>{{program.active ? 'Sí' : 'No'}}</td>
                    <td class="crud-table-actions">
                        <button class="modify-crud-btn" (click)="modifyProgram(program); programEditForm.loadData(program)" data-bs-toggle="modal" data-bs-target="#modal-edit">Editar</button>
                        <button class="delete-crud-btn" (click)="deleteProgram(program.id)"
                            data-id="${program.id}">Eliminar</button>
                        @if (!program.active) {
                            <button class="activate-crud-btn" (click)="viewDisabled(program)">Activar</button>
                        }
                    </td>
                </tr>
                }@empty {
                <tr>
                    <td colspan="7" class="text-center">
                        <p style="color: red;"> Aun no hay ningun prorgrama cargado.</p>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <!-- Paginación -->
                <tr>
                    <td colspan="7">
                        <ul class="pagination-container">
                        </ul>
                    </td>
                </tr>
            </tfoot>
        </table>
        <!-- Modal agregar programa -->
        <div class="modal fade" id="modal-add" tabindex="-1" aria-labelledby="modal-add-label" style="display: none;"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h1 class="modal-title fs-5 titles">Agregar</h1>
                        <button data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <app-programs-form [endpoint]="endpoint" (added)="programs = $event"></app-programs-form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal editar programa -->
        <div class="modal fade" id="modal-edit" tabindex="-1" aria-labelledby="modal-edit-label" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h1 class="modal-title fs-5 titles">Editar</h1>
                        <button data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <app-programs-edit-form [endpoint]="endpoint" (added)="programs = $event" #programEditForm></app-programs-edit-form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>