.crud-management-container{
    min-height: 90vh;
    width: 95vw;
    margin-top: 1em; /* reducir espacio bajo el título */
}
.crud-search-bar{
    color: white;
    padding-left: 1em;
    width: 70%;
    height: 2.5em;
    border-radius: 10px;
    background-color: var(--color-5);
    caret-color: var(--color-1);
    border: none;
    transition: .2s;
}
.crud-search-bar:focus{
    outline: 2px solid var(--color-2);
}
.crud-search-bar::placeholder{
    opacity: .6;
    color: var(--color-3);
}
.add-crud-btn{
    border: none;
    color: var(--color-3);
    background-color: var(--color-5);
    border-radius: 15px;
    height: 2.5em;
    width: 15%;
    transition: .4s;
}
.add-crud-btn:hover{
    color: var(--color-5);
    background-color: var(--color-3);
    border: solid 1px var(--color-5);
}
#select-filter{
    margin-top: 1em;
    height: 2em;
}
/* --------TABLE-------- */
.crud-table{
    width: 100%;
    min-height: 50vh;
    margin-bottom: 1em;
    background-color: var(--color-4);
    border-radius: 15px;
    overflow: hidden;
}
.crud-table-body{
    min-height: calc(4.6 * 5);
}
.crud-table th{
    padding: 12px 15px; 
}
.crud-table > thead{
    color: var(--color-3);
    background-color: var(--color-5);
}
/* IMPARES */
.crud-table-item:nth-child(odd){
    color: var(--color-1);
}
/* Modificar */
.crud-table-item:nth-child(odd) .modify-crud-btn{
    background-color: var(--color-5);
    color: var(--color-1);
    transition: .4s;
}

/* PARES */
.crud-table-item:nth-child(even){
    background-color: var(--color-5);
    color: white;
}
/* Modificar */
.crud-table-item:nth-child(even) .modify-crud-btn{
    background-color: var(--color-4);
    color: var(--background-color-1);
    transition: .4s;
}
.crud-table-item:nth-child(even) .modify-crud-btn:hover{
    box-shadow: 0 0 5px 1px var(--light-title-color-1);
}
.crud-table-item{
    max-height: 1.8em;
    max-width: fit-content;
}
.crud-table-item > *:not(:last-child){
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.crud-table-item > *{
    font-family: var(--main-font-family);
    padding: 0 .5em;
}
.crud-table-actions > *{
    color: white;
    height: 2em;
    padding: 0 .5em;
    border-radius: 10px;
    border: none;
}
.delete-crud-btn{
    margin-left: .3em;
    background-color: #c90000;
    color: white;
    transition: .4s;
}
.delete-crud-btn:hover{
    box-shadow: 0 0 5px 1px #c90000;
}
.activate-crud-btn{
    margin-left: .3em;
    background-color: #00b300;
    color: white;
    transition: .4s;
}
.activate-crud-btn:hover{
    box-shadow: 0 0 5px 1px #00b300;
}
.crud-table-image{
    height: 3.7em;
    object-fit: cover;
}

.toggle-disabled-btn{
    border: none;
    color: var(--color-3);
    background-color: var(--color-5);
    border-radius: 15px;
    height: 2.5em;
    padding: 0 1.5em;
    margin-bottom: 1em;
    transition: .4s;
    cursor: pointer;
}
.toggle-disabled-btn:hover{
    color: var(--color-5);
    background-color: var(--color-3);
    border: solid 1px var(--color-5);
}
