<ul id="card-container">

    <li>
        <a routerLink="show-career-for-register" class="card">
            <img src="/Media/office.jpg" alt="">
            <div class="card-content">
                <h5>Carrera</h5>
            </div>
        </a>
    </li>

    <li>
        <a routerLink="show-career-for-commission" class="card">
            <img src="/Media/subjects.jpg" alt="">
            <div class="card-content">
                <h5>Comisiones</h5>
            </div>
        </a>
    </li>


</ul>