/* You can add global styles to this file, and also import other style files */
*{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
:root{
    --color-1: #ffffff;
    --color-2: #000000;
    --color-3: #f2f3f7;
    --color-4: #3D5B69;
    --color-5: #273a43;
}
