<h1 style="text-align: center;">Comisiones</h1>

<section class="crud-management d-flex justify-content-center">
    <div class="crud-management-container">
        <div class="w-100 d-flex flex-column align-items-center mb-3">
            <button class="add-crud-btn" data-bs-toggle="modal" data-bs-target="#modal"
                (click)="addCommission()">Agregar</button>
            <select id="select-filter" [(ngModel)]="filter" (change)="filterCommissions()">
                <option value="">Mostrar todo</option>
                <option value="Activas">Activas</option>
                <option value="Inactivas">Inactivas</option>
                @for(program of programs; track $index){
                <option [value]="program.name">{{ program.name }}</option>
                }
            </select>
        </div>

        <!-- TABLA -->
        <table class="crud-table">
            <thead>
                <tr class="text-center">
                    <th scope="col">Id</th>
                    <th scope="col">Número</th>
                    <th scope="col">Carrera</th>
                    <th scope="col">Capacidad</th>
                    <th scope="col">Estado</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody class="crud-table-body">
                <!-- USERS -->
                @for (commission of commissions; track $index) {
                <tr class="crud-table-item">
                    <td>{{commission.id}}</td>
                    <td>{{commission.number}}</td>
                    <td>{{commission.program}}</td>
                    <td>{{commission.capacity}}</td>
                    @if(commission.active){
                    <td>Activa</td>
                    }@else{
                    <td>Inactiva</td>
                    }
                    <td class="crud-table-actions">
                        @if (commission.active) {
                        <button class="delete-crud-btn" (click)="deleteCommission(commission.id)">Eliminar</button>
                        }
                        @if (!commission.active) {
                        <button class="activate-crud-btn" (click)="viewDisabled(commission)">Activar</button>
                        <button class="delete-crud-btn"
                            (click)="definitiveDeleteCommission(commission.id)">Eliminar</button>
                        }
                        <button class="modify-crud-btn" (click)="modifyCommission(commission)" data-bs-toggle="modal"
                            data-bs-target="#modal">Editar</button>
                        <button class="modify-crud-btn" data-bs-toggle="modal"
                            data-bs-target="#modal-add-subjects" (click)="setCommisionId(commission.id)">
                            Asignar materia
                        </button>
                    </td>
                </tr>
                }@empty {
                <tr>
                    <td colspan="7" class="text-center">
                        <p style="color: red;"> Aun no hay ninguna comisión cargado.</p>
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
            </tfoot>
        </table>
        <!-- Modal agregar -->
        <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="modal-label" style="display: none;"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h1 class="modal-title fs-5 titles">{{ modalText }}</h1>
                        <button data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form class="modal-form" [formGroup]="form" (submit)="OnSubmit()">
                            <fieldset>
                                <label for="number">Número:</label>
                                <input type="number" id="number" formControlName="number">
                                @if (form.controls['number'].invalid && form.controls['number'].touched) {
                                <p>El número es obligatorio y debe ser mayor a 0.</p>
                                }
                            </fieldset>
                            <fieldset>
                                <label for="capacity">Capacidad de estudiantes:</label>
                                <input type="number" id="capacity" formControlName="capacity">
                                @if (form.controls['capacity'].invalid && form.controls['capacity'].touched) {
                                <p>La capacidad es obligatoria y debe ser mayor a 0.</p>
                                }
                            </fieldset>
                            <fieldset>
                                <label for="program">Carrera:</label>
                                <select name="program" id="program" formControlName="program">
                                    @for (program of programs; track $index) {
                                    <option [value]="program.name">{{program.name}}</option>
                                    }
                                </select>
                                @if (form.controls['program'].invalid && form.controls['program'].touched) {
                                <p>La carrera es obligatoria.</p>
                                }
                            </fieldset>

                            <div id="buttons">
                                <button type="button" (click)="cleanForm()">Limpiar</button>
                                <button type="submit" [disabled]="form.invalid" data-bs-dismiss="modal"
                                    aria-label="Close">Enviar</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal agregar materia a comision -->
        <div class="modal fade" id="modal-add-subjects" tabindex="-1" aria-labelledby="modal-label"
            style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <h1 class="modal-title fs-5 titles"> Añadir materia </h1>
                        <button data-bs-dismiss="modal" aria-label="Close">
                            <i class="fa-solid fa-x"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        @for (s of subjectsList; track $index) {
                            <div [class.selected]="selectedSubjectsIds.includes(s.id)" >
                                <p> {{ s.name }} </p>
                                <button (click)="addToCommission(s.id)" >Añadir</button>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>