#select-filter{
    height: 2em;
    margin-top: 1em;
}

/* Mobile: ancho completo para el selector */
@media (max-width: 576px){
    #select-filter{
        width: 100%;
        max-width: 100%;
        min-width: 0;
    }
}
