<footer>
    <section id="contact">
        <h3>Contactanos</h3>
        <ul id="contact-list">
            <li>
                <a href="https://mdp.utn.edu.ar/" class="contact-item">
                    <i class="fa-solid fa-earth-americas"></i>
                </a>
            </li>
            <li>
                <a href="tel:(0223) 480-5049 / 3479 / 1220" class="contact-item">
                    <i class="fa fa-phone"></i>
                </a>
            </li>
            <li>
                <a href="mailto:campus@mdp.utn.edu.ar" class="contact-item">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
        </ul>
    </section>
    <section>
        <!-- Seccion pendiente -->
    </section>
    <section id="social-media">
        <h3>Seguinos</h3>
        <ul id="social-media-list">
            <li>
                <a href="https://www.facebook.com/utnmardelplata" class="social-media-item" id="facebook">
                    <i class="fa-brands fa-facebook-f"></i>
                </a>
            </li>
            <li>
                <a href="https://twitter.com/utnmardelplata" class="social-media-item" id="X">
                    <i class="fa-brands fa-x-twitter"></i>
                </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/utnmardelplata" class="social-media-item" id="linkedin">
                    <i class="fa-brands fa-linkedin-in"></i>
                </a>
            </li>
            <li>
                <a href="https://www.youtube.com/channel/UCkJ8mGmWnSVWV0ve5XrReSQ" class="social-media-item" id="youtube">
                    <i class="fa-brands fa-youtube"></i>
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/utnmardelplata/" class="social-media-item" id="instagram">
                    <i class="fa-brands fa-instagram"></i>
                </a>
            </li>
        </ul>
    </section>
</footer>