<form [formGroup]="form" (submit)="OnSubmit()" id="add-form">
    <h3>Crear</h3>
    <fieldset>
        <label for="score">Nota:</label>
        <input type="number" id="score" name="score" formControlName="score">
        @if (form.controls['score'].invalid && form.controls['score'].touched) {
        <p>El Nota debe ser un numero entre 1 y 100</p>
        }
    </fieldset>

    <fieldset>
        <label for="">Legajo del alumno:</label>
        <input type="text" id="legajo" name="legajo" formControlName="legajo">
    </fieldset>

    <fieldset>
        <label for="">Tipo de examen</label>
        <select name="examType" id="examType" formControlName="examType">
            
            <option value="EXAM">Parcial</option> 
            <option value="FINAL_EXAM">Final</option>
            <option value="MAKEUP_EXAM">Recuperatorio</option>
            
        </select>
    </fieldset>

    <div id="buttons">
        <button type="button" (click)="cleanForm()">Limpiar</button>
        <button type="submit" [disabled]="form.invalid">Crear</button>
    </div>

    
</form>

<div>
    @for (subjects of subjectsService.listSubject; track $index) {
        <section>
            <p> {{ subjects.name }} </p>
            <button (click)="addSubjectsToExam(subjects.id)" >Añadir</button>
        </section>
    }
</div>
